/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/
.distribution-group-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.distribution-group-list {
  width: 100%;
  height: 390px;
}

.distribution-group-form {
  height: 745px;
  width: auto;
  margin-left: 15px;
}

.distribution-group-member {
  margin-top: 15px;
  flex-grow: 1;
}

.distribution-group-member-postcodes {
  margin-top: 15px;
  margin-left: 15px;
}

.distribution-group-member-container {
  position: relative;
  display: flex;
}
