<!-- /********************************************************************************
* Copyright (c) 2020 Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Eclipse Public License v. 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0
********************************************************************************/ -->
<div class="pageNotFound">
  <div class="pageNotFound-content">
    <img src="/assets/images/logo_openkonsequenz.png" alt="openkonsequenz-logo" />
    <h1>{{ 'PageNotFound.Title' | translate }}</h1>
    <h3>{{ 'PageNotFound.Subtitle' | translate }}</h3>
    <button (click)="goBack()">
      {{ 'PageNotFound.Button' | translate }}
    </button>
  </div>
</div>
